th {
	text-align: left;
}

nav.site_navigation {
	width: 100%;
	display: box;
	display: -webkit-box;　/* Safari,Google Chrome用 */
	display: -moz-box;　/* Firefox用 */
}
nav.site_navigation div {
/*	width: 20em;*/
}