/* @override 
	http://localhost:3000/stylesheets/rana4.css
*/

th {
	text-align: left;
}

/* @group General */
body {
	font-family: "Courier New", Courier, mono;
	margin: 0;
	padding: 0;
}
/* @end */

/* @group Header */
#site {
	width: 100%;
	display: box;
	display: -webkit-box;
	display: -moz-box;
	padding: 0;
	background: url(images/ui-bg_diagonals-thick_90_eeeeee_40x40.png) 0 center;
}
#site h1 {
	/*display: inline;*/
	margin: 0 0.4em;
	padding: 0 16px;
	/*color: white;*/
}

* {
	
}
#site .description {
	margin: 0;
	/*padding: 0 16px;*/
	display: none;
	/*color: #a8c8fa;*/
}
.site_navigation {
	/*color: #fff;*/
	padding: 0 1em;
	/*background-color: #dbaf86;*/
	/*background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #dbaf86),
    color-stop(1, #ca9)
);
	background: -moz-linear-gradient(
    center bottom,
    #dbaf86 0%,
    #ca9 100%
);*/
	display: box;
	display: -webkit-box;
	display: -moz-box;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	-moz-border-radius-bottomleft: 1em;
	-moz-border-radius-bottomright: 1em;
	border-bottom: 2px solid #999;
	border-left: 2px solid #999;
	border-right: 2px solid #999;
	background: url(images/ui-bg_highlight-soft_100_deedf7_1x100.png) 0 center;
}

.site_navigation dl {
	margin: 0.4em 0.4em 0 0.4em;
	padding: 0.4em;
	/*border-left: 2px solid #ccc;
	border-top: 2px solid #ccc;
	border-right: 2px solid #ccc;
	border-top-left-radius: 0.4em;
	border-top-right-radius: 0.4em;
	-moz-border-radius-topleft: 0.4em;
	-moz-border-radius-topright: 0.4em;*/
}
.site_navigation dt {

}

/* @end */

/* @group Article */

#page {
	padding: 0 16px;
	border: 1px solid #fff;
}

/* @end */

/* @group Publications */

#publication address {
	text-align: center;
}

/* @end */

/* @group Entry Form */
dl.entry_form {
	border-radius: 0.4em;
	-moz-border-radius: 0.4em;
	border: 1px solid #9999ff;
}
dl.entry_form > dd {
	margin: 0;
	padding: 0;
}
dl.entry_form dt.title {
	color: #fff;
	padding: 0.4em;
	font-weight: bold;
	background: #8ea2ff url(images/ui-bg_glass_50_3baae3_1x400.png) 0 center;
}
dl.entry_form .title {
	padding: 0;
	margin: 0;
}
dl.entry_form #entry_title {
	width: 98%;
	font-size: 1.4em;
	margin: 0.2em;
}

#body_text textarea,
#extend_text textarea {
	width: 100%;
	height: 20em;
}

.jHtmlArea {
	width: 100%;
	background-color: #fff;
}
.jHtmlArea iframe {
	border: 1px solid #ccc;
	width: 100%;
	height: 20em;
}

#option dt {
	border-top-left-radius: 0.2em;
	border-top-right-radius: 0.2em;
	-moz-border-top-left-radius: 0.2em;
	-moz-border-top-right-radius: 0.2em;
	padding: 0.2em;
	color: #7b9ee4;
	font-weight: bold;
	background: url(images/ui-bg_glass_80_d7ebf9_1x400.png) 0 center;
}
#option dd {
	margin-bottom: 0.4em;
}
#option textarea {
	width: 30em;
	height: 10em;
}
dl.entry_form > dd.action {
	padding: 1em;
}
dl.entry_form > dd.action input[type='submit'] {
	font-size: 150%;
	padding: 0.2em;
	border: 1px solid #aaa;
	border-radius: 0.4em;
	-moz-border-radius: 0.4em;
	background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #ccc),
    color-stop(1, #fff)
);
	background: -moz-linear-gradient(
    center bottom,
    #ccc 0%,
    #fff 100%
);
}
#upload_attachment_button {
	position: relative;
		padding: 0.4em 0.4em 0.4em 20px;
		border: 1px solid #aaa;
		border-radius: 0.4em;
		-moz-border-radius: 0.4em;
		background: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, #ccc),
	    color-stop(1, #fff)
	);
		background: -moz-linear-gradient(
	    center bottom,
	    #ccc 0%,
	    #fff 100%
	);
	font-size: 0.8em;
}
#upload_attachment_button .ui-icon {
	position: absolute;
	bottom: 0;
	left: 0;
}
@-webkit-keyframes attachment_fade_in {

        0%      {
                background-color: transparent;
                }

        30%     {
	background-color: red;
}


        100%    {
                background-color: transparent;
                }

        }
ul.attachments li.new {
	-webkit-animation-name: attachment_fade_in;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-iteration-count: 1;
}
/* @end */


