login: &login
  adapter: mysql2
  host: localhost
  user: root
  password: 
  encoding: utf8  

development:
  database: rana4_dev
  <<: *login

test:
  database: rana4_tests
  <<: *login

production:
  database: rana4
  <<: *login