login: &login
  adapter: mysql2
  host: localhost
  username: root
  password: 
  encoding: utf8  

development:
  database: rana3_dev
  <<: *login

test:
  database: rana3_tests
  <<: *login

production:
  database: rana3
  <<: *login